body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}


form {
  display: flex;
  flex-direction: column; 
  gap: 15px; 
  margin-bottom: 20px;
}

form div {
  width: 100%; 
}

form input,
form textarea,
form button {
  font-size: 14px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%; 
  box-sizing: border-box; 
}

form textarea {
  resize: none; 
  height: 80px; 
}

form button {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #2980b9;
}

input[type="text"] {
  width: 100%;
  max-width: 800px; 
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.product-list {
  list-style: none;
  padding: 0;
}

.product-list li {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #f7f7f7;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.product-list li span {
  flex: 1; 
  font-weight: bold;
  text-align: left; 
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.product-list li button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.product-list li button:hover {
  background-color: #c0392b;
}

.product-list li button:nth-child(2) {
  background-color: #3498db;
}

.product-list li button:nth-child(2):hover {
  background-color: #2980b9;
}

.product-item form button[type="submit"] {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.product-item form button[type="submit"]:hover {
  background-color: #2980b9;
}

.product-item form button[type="button"] {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.product-item form button[type="button"]:hover {
  background-color: #c0392b;
}
